{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact us</title>
    <link rel="stylesheet" href="{% static 'stud_data_style.css' %}">
</head>
<body>


<div class="container">
  <form name="myForm" onsubmit="return validateForm()" method="post" action= "{% url 'saveStudData' %}" > {% csrf_token %}
    <div class="topnav">
  <a href="{%url 'home_page' %}" >Home</a>
        <a class="active" href="{%url 'contact_us' %}">Contact Us</a>
        <a  name="user"> Log In : {{request.user.username }} </a>
        <a href="{%url 'logout' %}"><font color="red">Log out</font></a>

</div>
      <form name="myForm" onsubmit="return validateForm()" method="post" action= "{% url 'saveStudData' %}" > {% csrf_token %}
    <div class="row">
      <div class="col-25">
        <label for="fname">First Name</label>
      </div>
      <div class="col-75">
        <input type="text" id="fname" name="firstname" placeholder="Your name..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="lname">Last Name</label>
      </div>
      <div class="col-75">
        <input type="text" id="lname" name="lastname" placeholder="Your last name..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="country">Country</label>
      </div>
      <div class="col-75">
        <select id="country" name="country">
          <option value="india">India</option>
          <option value="canada">Canada</option>
          <option value="usa">USA</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="subject">Subject</label>
      </div>
      <div class="col-75">
        <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
      </div>
    </div>
    <div class="row">
      <input type="submit" value="Submit">
    </div>
  </form>
</div>

</body>
</html>